# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    
    - CONDA_R=3.3.2
    - CONDA_R=3.4.1
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "L8hAv/BJyWZ4u9ofQNUlvdCyGGuW6fVkI6YpgI7ark7DvcWm0Fl/1zkbODUIpZbtgdwkULTTFS8TH/2UA2FTO1Xy3gITc1ywvZBnYK8fWNbtHEzBbPnrKVlvT0zhTbgXs5BW85pGx36rmhG/qAsLpEn3697QjC4PcFgbLGf4leq34/fNcODAdjg+qCntfEwMnYH/wnlSf7bPwnQXV5u0yxXui+Ou+8IbQ6yVhc8sDuSYHHqtDwiiRuNcyt7Kg08RglACGG34Nwsufyy5L5F/era7Q4Qwnilvr4JiDhIXQ7dacLxair1vPetgLYA8vIswJve0YBN/G8JvQO81LutW5CfQlMUwBWx3iA3WpldgQuNyS9ymIx+8dmRuGafvUKeimC7fDL0YyzdvR9YFqDrRgtT2FREnw6GvjVd7hTiANx225iK3ILd/SpsWznP0TKLA6ADowGmq5Q5QZY+jUEDAXA6c5SFQQQl/MOSl7iAe7ZBkePhzNBceL+j+THX2xsHUpeSO+AubaWvh8W+IAJy2OAhRQscnERq5ZYi77xlE1XAjucyxeJsuw4nqNP9oMktNYrN+n4p55cG4BRlJwvjZMFwE8qN33WrX2ty0eonXd4PhyYA2sVX9dP4DNvbrvaI9FMKZCIw52AiiN/Bi2i7PEvn0LUzjU83W1Ln+IDCQt0s="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-build-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
